/* styles.css or your CSS file */
.quicksand-custom {
    font-family: "Quicksand", sans-serif;
    font-weight: 200; /* Adjust weight as needed */
    font-style: normal;
    font-optical-sizing: auto;
  }
  